
/****************** PROGRAMS OVERVIEW PAGE ***********************/
#programs-overview-accordion {
    position:relative;
    z-index:0;
    display: inline-block;
    width: 30%;
    min-height: 462px;
    margin: 50px 10px;
    text-align: left;
    vertical-align: top;
    background: #333333;
}
#programs-overview-accordion h1 {
    padding: 0;
    margin: 0;
    background: #EEEEEE;
    font-size: 28px;
    padding: 20px 0 10px 0;
  }
#programs-overview-accordion .accordion, #programs-overview-accordion .accordion * { 
	box-sizing:border-box;
}

#programs-overview-accordion .accordion {
/*	overflow:hidden;*/
    background:#CCC;;
    margin: 0 auto;
    text-align: left;
    padding: 0;
}
#programs-overview-accordion .accordion-section {
    padding: 0;
    margin: 0;
}
#programs-overview-accordion .accordion .accordion-section-content .concentrations {
    padding-left: 20px;
}
#programs-overview-accordion h1 a {
    -webkit-transition: all linear 0.15s;
    -moz-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    transition: all linear 0.15s;  
}
#programs-overview-accordion h1 a:hover {
      color: #333;      
}
#programs-overview-accordion .no-concentrations-title:hover {
    color: #BB0000;      
}
#programs-overview-accordion .accordion-section-title, #programs-overview-accordion .no-concentrations-title {
	width:100%;
	padding: 10px 15px;
	display:inline-block;
	border-bottom:1px solid #1a1a1a;
	background:#333;    
    -webkit-transition: all linear 0.15s;
    -moz-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    transition: all linear 0.15s;        
	margin: 0;
	font-size:15px;
	color:#fff;
    cursor: pointer;
}
#programs-overview-accordion .accordion-section-title.active, #programs-overview-accordion .accordion-section-title:hover {
	background:#4c4c4c;
	text-decoration:none;
}

#programs-overview-accordion .accordion #programs-overview-accordion .accordion-section-title {
	border-bottom:none;
}
#programs-overview-accordion .accordion-section-content {
	padding:0;
    margin: 0;
/*    margin-left: 20px;*/
    padding-bottom: 20px;
	display:none;
    background: #9D9A9A;
}
#programs-overview-accordion .accordion-section-content h3 {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
    margin: 0;
    padding: 15px 10px 15px 20px;
    background: #9D9A9A;
}
#programs-overview-accordion .accordion-section-content h3 a {
    color: #BB0000;
    -webkit-transition: all linear 0.15s;
    -moz-transition: all linear 0.15s;
    -o-transition: all linear 0.15s;
    transition: all linear 0.15s;  
}
#programs-overview-accordion .accordion-section-content h3 a:hover {
      color: #fff;    
}
#programs-overview-accordion .accordion-section-content h4 {
/*    background: #9D9A9A;*/
    background: #666666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    font-size: 18px;
    padding: 5px 15px 5px 40px;
    cursor: default;
}
#programs-overview-accordion .accordion-section-content ul li a:hover {
     color: #FFF;   
}
#programs-overview-accordion .accordion .accordion-section-content ul, #programs-overview-accordion .accordion-section-content ul li {
  padding: 0;
  margin: 10px;
  list-style: none;
}
#programs-overview-accordion .accordion .accordion-section-title {
  color:#fff;
  text-decoration: none;
    cursor: pointer;
}
#programs-overview-accordion .accordion .accordion-section-title span {
  float: right;
  opacity: 0.3;
}
.rotate-program-accordion-doit {
  -webkit-transform: rotate(90deg);
  -ms-transform:     rotate(90deg);
  transform:         rotate(90deg);
}